{
  "tts-dir":    "/tmp/yandex_tts/",
  "log-file":   "/tmp/yandex_tts/smart-ivr.log",
  "url":        "http://192.168.10.236:81/test/hs/ivr",
  "auth":       "WSclient:masterkey",
  "fail-dst":   "303",
  "tts-engine": "sp",

  "ya-token":   "AQVNxyq2eBk6hnp",
  "ya-voice":   "alena",

  "sp-voice":   "Vladimir_8000n",
  "sp-login":   "test",
  "sp-password":"0004169N!",
  "sp-domain":  "990"
}